@model Presentation.Multitenant.Web.Features.Stocks.StockListViewModel
@using Presentation.Multitenant.Web.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resources> translate
<header>
    <div class="container">
        <h1>Carsales</h1>
        <h2>Carsales | Australia's No.1 Car Website - carsales.com.au</h2>
    </div>
</header>
<section class="main">
    <div class="container">
        <div class="stock-item">
            <h1>2017 Hyundai i30 Active Auto MY17</h1>
            <div class="row">
                <div class="col-6">
                    <img src="https://carsales.pxcrush.net/carsales/car/dealer/e7c7374e2099bbd6386aea3fb7a5a2c7.jpg" />
                </div>
                <div class="col-6">
                    <span class="keydetails">Price: $16,990</span>
                    <span class="keydetails">Odometer: 39,068 km</span>
                    <a href="/enquire" class="btn btn-primary">@translate["View Details"]</a>
                </div>
            </div>
        </div>
        <div class="stock-item">
            <h1>2017 Hyundai i30 Active Auto MY17</h1>
            <div class="row">
                <div class="col-6">
                    <img src="https://carsales.pxcrush.net/carsales/car/dealer/e7c7374e2099bbd6386aea3fb7a5a2c7.jpg" />
                </div>
                <div class="col-6">
                    <span class="keydetails">Price: $16,990</span>
                    <span class="keydetails">Odometer: 39,068 km</span>
                    <a href="/enquire" class="btn btn-primary">@translate["View Details"]</a>
                </div>
            </div>
        </div>
        <div class="stock-item">
            <h1>2017 Hyundai i30 Active Auto MY17</h1>
            <div class="row">
                <div class="col-6">
                    <img src="https://carsales.pxcrush.net/carsales/car/dealer/e7c7374e2099bbd6386aea3fb7a5a2c7.jpg" />
                </div>
                <div class="col-6">
                    <span class="keydetails">Price: $16,990</span>
                    <span class="keydetails">Odometer: 39,068 km</span>
                    <a href="/enquire" class="btn btn-primary">@translate["View Details"]</a>
                </div>
            </div>
        </div>
    </div>

</section>
